{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock title %}
{% block script %} <link rel="stylesheet" href="{% static 'style/about.css' %}">  {% endblock script %}
{% block body %}
<div class="about-page background">
    <div class="inner-container">
      <h1>About Us</h1>
      <p class="text">
        We are a service model which aim to provide a seamlessly simple and effortless platform for All kinds of event managers/planners to join hands with people encouraged to end the world hunger by providing the surplus amount of food from those events to the needy ones.  
      </p>
    </div>
</div>

{% endblock body %}