@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-page{
    display: flex;

    align-items: center;
    flex-wrap: nowrap   ;
    margin: 5.5% 0%;
}


.background{
    background: url(https://files.globalgiving.org/pfil/5067/ph_5067_93060.jpg?m=1479656879000) no-repeat left;
    background-size: 45%;
    background-color: #caf5bb;
    overflow: hidden;
    padding: 50px 0;
}

.inner-container{
    width: 55%;
    float: right;
    font-family: 'Lobster', cursive;
    background-color: #fdfdfdb7;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 20px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}


@media screen and (max-width:1000px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:800px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:400px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}