{% extends "base.html" %}
{% load static %}
{% block title %} volunteers {% endblock title %}
{% block script %}
<link rel="stylesheet" href="{% static 'style/volunteers.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous" />
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous">
</script>
{% endblock script %}
{% block body %}

<div class="row mt-4 justify-content-center">
    <div class="col-8">
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>District</th>
                    <th >Action</th>
                </tr>
            </thead>
            <tbody>
                {% for volunteer in v_query %}
                <tr>
                    <td>{{ volunteer.name }}</td>
                    <td>{{ volunteer.district }}</td>
                    <td>
                        <button class="btn btn-primary" onclick="showPhoneNumber('{{ volunteer.phone_no }}')">Contact
                            Them</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    function showPhoneNumber(phoneNumber) {
        alert('Phone Number: ' + phoneNumber);
    }
</script>

{% endblock body %}