{% extends "base.html" %}
{% load static %}
{% block title %} volunteers {% endblock title %}
{% block script %}<link rel="stylesheet" href="{% static 'style/volunteers.css' %}">
         {% endblock script %}
{% block body %}
You searched for {{searched}}
{% if q1 %}
    <table class="table-fill">
        <thead>
            <tr>
                
                <th class="text-left">Name</th>
                <th class="text-left">Phone Number</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            {% for i in q1 %}
            <tr>
                <td class="text-left">{{i.name}}</td>
                <td class="text-left">{{i.phone_no}}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
{% else %}
NO RESULT FOUND FOR your city i.e {{searched}}
{% endif %}
{% endblock body %}
