<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title> {% block title %} {% endblock title %} </title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/alert.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}">
    {% block script %} {% endblock script %}
</head>
<body>
    <!-- Overlay -->
<div class="overlay fade-out"></div>
{% if messages %}
{% for msg in messages %}
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  {{msg}}
</div>
{% endfor %}
{% endif %}
<header class="header">
  <div class="container">
    <nav class="flex flex-jc-sb flex-ai-c">
      <!-- Logo -->
      <div class="">
        <a href="#">
          <img src="{% static 'logo.png' %}" alt="logo here" width="150px" style="object-fit: cover;
          object-position: 20% 10%;"/>
        </a>
      </div>
      <!-- Links -->
      <div class="main-navgation hide-for-mobile">
        <a href="{% url 'index:index' %}">Home</a><a href="{% url 'users:about' %}">About</a><a href="{% url 'users:contact' %}">Contact</a>
      </div>
      <!-- CTA Button -->
      {% if user.is_authenticated %}
      <a href="{% url 'users:logout' %}" class="button hide-for-mobile">{{user.username}}</a>
      {% if user.volunteer %}
      <a href="{% url 'index:update_volunteer' %}" class="button hide-for-mobile">Volunteer Profile</a>
      {% else %}
      <a href="{% url 'index:become_volunteer' %}" class="button hide-for-mobile">Become a volunteer</a>
      {% endif %}
      {% else %}
      <a href="{% url 'users:login' %}" class="button hide-for-mobile">Volunteer Login</a>
      {% endif %}
      <!-- Hamburger Menu -->
      <div class="menu hide-for-desktop">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
  </div>
</header>

{% block body %} {% endblock body %}

<!-- Footer -->
<footer class="footer">
    <div class="container">
      <div class="footer-logo">
        <a href="#">
          <img src="{% static 'logo.png' %}" alt="logo here" width="150px"/>
        </a>
      </div>
      <div class="footer-links col1">
        <a href="{% url 'users:about' %}">About Us</a>
        <a href="% url 'users:contact' %}">Contact</a>
      </div>
      <div class="footer-copyright">
        <p>© the devs. All Rights Reserved</p>
      </div>
    </div>
  </footer>
  </body>
  <script src="{% static 'js/script.js' %}"></script>
  </html>